*{
    background-color: black;
    color: white;
}
.src{

    margin: 5em;
    margin-top: 10em;
    width: 450px;
    height: 250px;

}
#hot{
    background-color: rgb(0, 0, 0);
    border-top-color: aquamarine;
    border-bottom-color:aqua ;
    border-right-color: bisque;
    border-left-color:chartreuse;
    padding: 3px;
    width: 250px;
}
#btn{
    color: rgb(0, 255, 157);
    padding: 3px;
    margin-left: 5px;
    border-color:aquamarine

}
